body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
  padding-top: 80px;
}

header {
  background: #2563eb;
  padding: 20px;
}

button {
  padding: 12px 25px;
  font-size: 16px;
  background: #22c55e;
  border: none;
  cursor: pointer;
}